.store-nav {
    display: flex;
    align-items: center;
    margin: 0;

    @include md {
        justify-content: space-between;
    }

    >li {
        position: relative;

        &.settings-xs {
            display: none;
        }

        &.track,
        &.contact-xs {
            display: none;
        }

        ~li {
            @include rtl {
                margin-right: 27px;

                @include md {
                    margin-right: 0;
                }
            }

            @include ltr {
                margin-left: 27px;

                @include md {
                    margin-left: 0;
                }
            }
        }

        >a {
            font-size: 16px;
            color: $text;
            font-weight: 500;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover,
            &:focus {
                color: $main;
                text-decoration: none;
            }
        }
    }
}

.sub-nav {
    position: absolute;
    top: 100%;
    background-color: #fff;
    min-width: 140px;
    padding: 9px 13px 3px;
    background-color: rgba(#17643d, 0.95);
    z-index: 13;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    margin: 0;
    transition: all 0.3s ease-in-out;

    &::after {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 6px 6px 6px;
        border-color: transparent transparent rgba(#17643d, 0.95) transparent;
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    li {

        &:last-of-type {
            a {
                border-bottom: none;
                padding-bottom: 0 0;
                margin-bottom: 0 0;
            }
        }
    }

    a {
        white-space: nowrap;
        border-bottom: 1px solid rgba(#fff, 0.1);
        font-size: 16px;
        font-weight: 300;
        padding: 0 0 8px;
        margin: 0 0 3px;
        display: block;
        text-align: center;
        color: #fff;
        cursor: pointer;
        background-color: transparent;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: #86ceaa;
            text-decoration: none;
        }
    }
}

.have_sub {
    >a {
        line-height: 55px;
        display: flex;
        align-items: center;

        &::after {
            font-family: 'Linearicons-Free';
            content: "\e874";
            font-size: 8px;

            @include rtl {
                margin-right: 4px;
            }

            @include ltr {
                margin-left: 4px;
            }
        }
    }

    &:hover {
        >a {
            color: $main;
        }

        .sub-nav {
            visibility: visible;
            opacity: 1;
        }
    }
}