body {
    position: relative;
    font-family: IBM;
    font-weight: normal;

    &::-webkit-scrollbar {
        background-color: #fff;
        width: 7px;
        height: 0px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $sec;
    }
}

html {
    scrollbar-width: thin;
    scrollbar-color: $sec #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.overflow {
    overflow: hidden !important;
}

* {
    outline: none !important;
}